<mat-card>
  <h2>Crear cupón</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <mat-form-field class="w-100">
      <mat-label>Código</mat-label>
      <input matInput formControlName="code" required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Descuento (€)</mat-label>
      <input matInput type="number" formControlName="discountAmount" required>
    </mat-form-field>



   <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Fecha de expiración</mat-label>
         <input matInput [matDatepicker]="picker2" formControlName="expirationDate" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Cantidad de usos</mat-label>
      <input matInput type="number" formControlName="quantity" required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>ID de usuario (opcional)</mat-label>
      <input matInput type="number" formControlName="userId">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Crear cupón</button>
  </form>
</mat-card>
