<h2>Restablecer contraseña</h2>

<form (ngSubmit)="onChangePassword()">
  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
</form>
