<h2>Recuperar contraseña</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" formControlName="email" required />
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      El correo es obligatorio
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      El formato del correo no es válido
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Enviar enlace
  </button>
</form>
