
<div class="container mt-5">
  <div class="d-flex gap-3 align-items-center mb-4">
    <div class="flex-shrink-0">
      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange()">
          <mat-option [value]="0">Todas</mat-option> <!-- Puedes usar null o 0 -->
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="flex-grow-1">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Buscar productos...</mat-label>
        <input matInput [(ngModel)]="searchTerm" (input)="onSearchChange()" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card h-100 product-card" >
        <a [routerLink]="['/views/product', product.id]" class="card h-100 text-decoration-none text-dark"
          style="cursor: pointer;">
          <img [src]="product.image" class="card-img-top product-img" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ product.price | currency }}</h6>
            <p class="card-text">{{ product.description }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[3, 6, 12]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>